<div class="flex flex-col">
  <div>Here we are in view B</div>
  <div class="mt-4 rounded-lg shadow-md bg-blue-100 space-y-1.5 p-6 md:self-start">
    <div class="mb-4 text-black font-bold text-lg justify-center">
      Some title
    </div>
    <div class="grid grid-rows-3 grid-cols-2 gap-x-14 gap-y-4 items-center">
      <div class="row-start-1 col-start-1 col-span-2 text-black text-xl">Some text:</div>
      <div class="row-start-1 col-start-2">
        <button
          class="phx-submit-loading:opacity-75 rounded-lg py-1 px-2 ring-2 ring-blue-500 hover:ring-blue-500/80 text-blue-500 font-semibold text-md active:text-blue-500/80 hover:text-blue-500/80"
          phx-click="open_view_a"
          phx-value-some={50}
        >
          <div class="flex flex-row items-center">
            Open view A
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="space-y-2">
    <.label>Dropdown picker</.label>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.phoenix.min.js">
    </script>
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      class="bg-white hover:bg-blue-500/20 rounded-lg text-lg px-5 py-2.5 text-center inline-flex items-center border"
      type="button"
    >
      Some label
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-blue-500 rounded-lg shadow w-60">
      <ul class="p-3 space-y-1 text-lg text-white" aria-labelledby="dropdownDefaultButton">
        <li phx-click="option_change" phx-value-level={10}>
          <a href="#" class="block px-4 py-2 hover:bg-blue-500 rounded-lg">
            10
          </a>
        </li>
        <li phx-click="option_change" phx-value-level={20}>
          <a href="#" class="block px-4 py-2 hover:bg-blue-500 rounded-lg">
            20
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
