<div class="flex flex-col">
  Here we are in view A
  <form phx-change="change_form" phx-submit="submit_form">
    <button phx-click="open_view_b">
      <div class="flex flex-row gap-1 text-blue-500">
        Go to view B
      </div>
    </button>
  </form>
</div>
